<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h3><%= listing.title %></h3>
        </div>
        <div class="col-8 offset-2">
            <div class="card show-card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing-image">
                <p><i>Posted by <%= listing.owner.username %></i></p>
                <div class="card-body">
                    <p class="card-text">
                        <p><%= listing.description %></p>
                        <p>&#8377; <%= listing.price.toLocaleString('en-IN') %></p>
                        <p><%= listing.location %></p>
                        <p><%= listing.country %></p>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <% if(user && user._id.equals(listing.owner._id)) { %>
        <div class="btns mb-3">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary col-1 offset-2 edit-btn">Edit</a>
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>
        </div> 
    <% } %>

    <% if(user){ %>
    <hr>
    <div class="col-8 offset-2 mb-3">
        <h3>Leave a Review </h3>
        <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>
            <label for="rating" class="form-label">Rating</label>
            <fieldset class="starability-slot mb-3 mt-3">
                <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />

                <input type="radio" id="rate1" name="rating" value="1" />
                <label for="rate1">1 star.</label>

                <input type="radio" id="rate2" name="rating" value="2" />
                <label for="rate2">2 stars.</label>

                <input type="radio" id="rate3" name="rating" value="3" />
                <label for="rate3">3 stars.</label>
    
                <input type="radio" id="rate4" name="rating" value="4" />
                <label for="rate4">4 stars.</label>
        
                <input type="radio" id="rate5" name="rating" value="5" />
                <label for="rate5">5 stars.</label>
        
                <span class="starability-focus-ring"></span>
            </fieldset>

            <div class="mt-3 mb-3">
                <label for="comment" class="form-label">Comment</label> 
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter your honest feedback.
                </div>
            </div>
            <button class="btn btn-primary edit-btn">Submit</button>
        </form>
    </div>
    <% } %>
    <hr>
    <% if(listing.reviews.length>0){ %>
    <div class="col-8 offset-2 mn-3">
        <h3>All Reviews</h3>
        <div class="row">
            <% for(let review of listing.reviews){ %>
                <div class="card col-3 ms-3 mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= review.author.username %></h5>
                        <p class="card-text"><%= review.comment %></p>
                        <p class="starability-result card-text" data-rating=<%= review.rating %>></p>
                    </div>
                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" method="post" class="mt-3 mb-3">
                        <button class="btn btn-sm btn-dark">Delete</button>
                    </form>
                </div>
            <% } %> 
        </div>
    </div>
    <% } %>
    <div class="col-8 offset-2 mn-3">
        <h4>Where you will be:</h4>
        <div id="map"></div>
    </div>
</body>
<script>
	mapboxgl.accessToken = 'YOUR_MAPBOX_ACCESS_TOKEN';
    const map = new mapboxgl.Map({
        container: 'map', 
        center: [-74.5, 40],
        zoom: 9 
    });
</script>

